*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background:linear-gradient(90deg , #90dbe8, white 70%);
    transition: 0.4s ease all;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.logo_a {
    width: 4.5rem;
    margin: 1em 0 0.6em 0;
    transition: 400ms;
}

.logo_coffee{
    width: 3.5rem;
    margin-left: 1em 0 0.6em 0;
    transition: 400ms;
    
}

.logo_a:hover , .logo_coffee:hover{
    transform:scale(1.2);
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 5%;
    height: 5rem;
}
.text_titulo {
    font-size: 1.7rem;
    color: #41667e;
}

.main1{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.seccion1{
    font: 1em 'Inter', sans-serif;
    position: relative;
    height: 30rem;
    width: 60%;
}
.conteinerTxtarea{
    position: absolute;
    width: 100%;
    height: auto;
    padding-left: 8.5%;
    padding-right: 3.5%;
}
.txtArea{
    width: 100%;
    height: 5.47rem;
    max-height: 350px;
    font-family: 'Inter', sans-serif;
    resize: none;
    border: 2px solid #e1e5ee;
    border-radius: 0.5rem;
    color: #0a3871;
    font-size: 1.3rem;
    font-weight: 400;
    outline: none;
    padding: 1.2rem;
    background: white;
}


.advertencia {
    position: absolute;
    display: flex;
    bottom: 55px;
    padding-left: 8.5%;
    align-items: center;
    gap: 10px;
}

.conteinerBtn{
    position: absolute;
    display: grid;
    width: 100%;
    bottom: 0;
    padding-left: 8.5%;
    padding-right: 3.5%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    grid-gap: 15px;
}

button {
    position: relative;
    display: inline-block;
    transition: all 0.2s ease-in;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7rem 0.9rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    background: #2a079b;
    color: black;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #3d5b83;
}

#encriptar{
    background: linear-gradient(white 1%, #6c8bfa );
}
#desencriptar{
    background:linear-gradient(white 1%, #4785d6 );
}
#borrar{
    background:linear-gradient(white 1%, #ae7fff );
}
#Limpiador{
    color: white;
}
button:hover{
    transform: scale(1.1);
}
button:active {
    box-shadow: inset 4px 4px 12px #ffffff;
    transform: scale(0.95);
}

.ocultar{
    display:none;
}

.seccion2{
    padding-right: 5%;
    padding-left: 2%;
    width: 40%;
    height: 480px;
}
.conteinerResultados {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    border-radius: 1rem;
    padding: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #ffffff;
    box-shadow: 6px 6px 12px #c5c5c5;
}
.txtResultado {
    word-break: break-all;
    max-height: 280px;
    font-size: 1.2rem;
    overflow: auto;
    text-overflow: ellipsis;
}
.conteinerResultados img{
    width: 70%;
}

.resultados{
    height: 12%;
    width: 100%;
    background: #e8e8e8;
    color: black;
    box-shadow: 6px 6px 12px #c5c5c5a7;
}

#copiar{
    display:none;
}

footer{
    text-align: center;
    margin: 2em 0 0 0;
}
footer img{
    width: 3em;
    margin: 0 0.5em 0 0.5em;
    transition: 300ms;
}

.logoLink:hover{
    transform:scale(1.2);
}

@media screen and (max-width:480px){
    .seccion1, .seccion2{
        width:100%;
    }
    .seccion2{
        margin: 1em 1em -1em 1em;
    }
    button{
        padding: 5%;
    }
    .advertencia{
        bottom: 10%;
    }

}